doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/jquery-ui.structure.min.css')
    link(rel='stylesheet' href='/stylesheets/jquery-ui.theme.css')
    <script src="/javascript/jquery_v1.11.js"></script>
    <script src="/javascript/jquery-ui.js"></script>
    <script src="/javascript/index.js"></script>
  body
    block content