<!DOCTYPE html>
<html>
<head>
	<title>Media Manager Player</title>
	<link href="/stylesheets/style.css" rel="stylesheet"/>
	<script src="/javascripts/jquery_v1.11.js"></script>
	<script src="/javascripts/index.js"></script>
</head>
<body>
	<section id="indexUser">
		<section id="indexCont">
			<a class="logo">
				<img alt="logo" src="/images/logo.png">
			</a>
			<article class="url">
				<p>Ingrese el url del servidor de multimedia</p>
				<input id="url" type="url" value="htp://" autofocus>
				<a id="btnUrl" href="#">Play</a>
			</article>
		</section>
	</section>
</body>
</html>