<!DOCTYPE html>
<html>
<head>
	<title>Media Manager</title>
	<link href="/stylesheets/style.css" rel="stylesheet">
	<script src="/javascripts/jquery_v1.11.js"></script>
	<script src="/javascripts/play.js"></script>
</head>
<body>
	<section id="playlist">
		
		<section id="sliderWrapper">
			<div id="pictures">
				<img id="image" alt="" src="" style="display: block;">
			</div>
			<a id="next" class="next sliderBtn" href="#"></a>
			<a id="previous" class="prev sliderBtn" href="#"></a>
			<a class="btnSettings" href="#"></a>
		</section>
		<div id="urlSettings">
			<p>Url servidor multitmedia</p>
			<input type="url">
			<div class="status">
				<p>Estado:</p>
				<span class="update"></span>
				<p class="update">Actualizado</p>
			</div>
			<a class="btnRest"></a>
			<a class="btnPlay"></a>
		</div>
	</section>
	<div class="shade"></div>
</body>
</html>